<div class="card">
    <div class="column number">
        <b>{{number + 1}}.</b>
    </div>

    <div class="column name">
        <input
            type="text"
            [value]="todoInfo.name"
        >
    </div>

    <div class="column description">
        <textarea [(ngModel)]="todoInfo.description"></textarea>
    </div>

    <div class="column">
        <button (click)="handleDeleteTodo()">Delete task</button>
    </div>

    <div class="column">
        <input
            type="checkbox"
            [(ngModel)]="!!todoInfo.isCompleted"
        >
    </div>
</div>
